.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
